<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are an e-commerce platform providing a wide range of products to cater to all your needs.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about" class="text-white">About Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker"></i> 123 Main Street, Anytown, USA</li>
            <li><i class="fa fa-phone"></i> +1 (123) 456-7890</li>
            <li><i class="fa fa-envelope"></i> info@yourwebsite.com</li>
          </ul>
        </div>
      </div>
      <hr class="bg-white">
      <div class="text-center">
        <p class="mb-0">© 2024 Your Website. All Rights Reserved.</p>
        <ul class="list-inline mt-2">
          <li class="list-inline-item"><a href="https://facebook.com" class="text-white"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com" class="text-white"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://instagram.com" class="text-white"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  