<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Left side: Brand -->
    <a class="navbar-brand" href="/"><b>Shoezzy</b></a>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav content: Use justify-content-between to ensure no movement -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <!-- Left-aligned Nav Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>

      <!-- Right-aligned Nav Links using ms-auto (margin-start auto) -->
      <ul class="navbar-nav ms-auto">
        <% if (flag) { %>
          <li class="nav-item">
            <a class="nav-link" href="/loginUser">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
        <% if (person !== 'admin') { %>
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              <i class="bi bi-cart"></i> Cart
            </a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
